<header id="header">
    <div class="container flex flex-wrap gap-4 py-3 xl:items-center xl:gap-12">
        <div class="flex items-center gap-6">
            <img src="img/logo.png" alt="" class="w-[103px]" width="640" height="640" />
            <div class="text-2xl font-bold leading-none text-primary">
                <span class="uppercase">Агентство</span><br />
                недвижимости
            </div>
        </div>
        <div class="flex gap-3 xl:ml-auto xl:items-center">
            <svg class="icon-phone h-[26px] w-5 text-secondary">
                <use href="#icon-phone"></use>
            </svg>
            <a href="tel:+79615857996" class="text-lg">+7 (961) 585-79-96</a>
            <a href="#">
                <svg class="icon-telegram size-9">
                    <use href="#icon-telegram"></use>
                </svg>
            </a>
            <a href="#">
                <svg class="icon-whatsapp size-9">
                    <use href="#icon-whatsapp"></use>
                </svg>
            </a>
        </div>
        <div class="flex items-center gap-3">
            <svg class="icon-location h-[26px] w-[22px] text-secondary">
                <use href="#icon-location"></use>
            </svg>
            <span class="text-lg">г.Армавир, ул.Комсомольская, 105</span>
        </div>
    </div>
</header>
